<body>
  <table class='responsive-table centered'>
    <!-- Table Header -->
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
      </tr>
    </thead>

    <!-- Table Content -->
    <!-- Assume dataPlaceholder is the data passed from koa to ejs -->
    <tbody>
      <% dataPlaceholder.forEach(datum => { %>
        <tr>
          <td><%= datum.id %></td>
          <td><%= datum.name %></td>
          <td><%= datum.username %></td>
          <td><%= datum.email %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>